.imageContainer {
  position: relative;
}

.image {
  position: relative;
  z-index: 1;
}

.image::before {
  content: "";
  position: absolute;
  top: -50px; /* Adjust as needed */
  left: -10px; /* Adjust as needed */
  width: calc(100% + 20px); /* Adjust as needed */
  height: calc(100% + 20px); /* Adjust as needed */
  border-radius: 100%; /* Make the glow circular */
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7); /* Adjust spread radius as needed */
}

.fade-in {
  animation: fadeInAnimation 5.0s ease-out forwards;
  opacity: 0;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}